body {
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;

  max-width: 1024px;
  min-height: 500px;

  font-family: 'Times New Roman', Times, serif;
  background-color: #749b6e;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 0;

  margin: 0;
  padding: 0;

  width: 100%;
  height: 100%;

  background-color: #aebdfd;
}

.header {
  display: grid;
  grid-template-columns: 1fr 1fr 70px;
  grid-template-rows: 40px 40px 30px;
  gap: 0px 0px;
  grid-template-areas:
    "header-1 header-1 header-2"
    "header-1 header-1 header-2"
    "header-3 header-3 header-2";
    align-content: center;
  height: 150px;
  background-color: #aebdfd;
}
.header-1 { 
  grid-area: header-1; 
  font-weight: bold;
  align-self: center;

  padding-left: 10px;
  
  font-size: 60px;

  border-bottom: thin solid white;
  text-align: left;
  color: #16186f;
}
.header-2 { 
  grid-area: header-2; 

  padding-right: 10px;
  align-self: center;

  font-size: 146px;
  font-weight: bold;
  text-align: right;

  color: white;
  overflow: hidden;
}
.header-3 { 
  grid-area: header-3; 
  padding-left: 15px;
  
  font-size: 26px;
  text-align: left;
  letter-spacing: 0.3em;

  color: #16186f;
  overflow: hidden;
}

.renters-temp {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 15px;

  height: 215px;

  background: url(images/sosedi_letom.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-color: #f5f8fd;

  font-size: 1.3em;
}

.renters-temp > div {
  margin: 0;
  padding: 0;

  text-align: center;
}

.renters-temp p {
  margin: 0;
  padding: 0;
}

.state {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  padding-top: 10px;
  padding-bottom: 10px;

  background-color: #c5c6c6;
}

.state > div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.state p {
  margin: 0;
  padding: 0;
}

.pomp-icon {
  height: 44px;
  background: url(images/pomp_off.gif) no-repeat center;
}
.pomp-icon.on {
  background: url(images/pomp_on.gif) no-repeat center;
}

.heater-icon {
  height: 44px;
  background: url(images/heater_off.gif) no-repeat center;
}

.heater-icon.on {
  background: url(images/heater_on.gif) no-repeat center;
}

.outdoor-icon {
  height: 44px;
  background: url(images/outside_temp.png) no-repeat center;  
}

.mode {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;

  font-size: 1.2em;
  font-weight: bold;
  color: #16186f;

  border-top: white thin solid;
  border-bottom: white thin solid;
}

.time,
.given-temp {
  font-size: 1.2em;
  color: #16186f;

  text-align: right;
  border-radius: 10px;
}

.time {
  width: 40px;
}

.loading {
  color: red;
  background-color: yellow;
}

.info{
  min-height: 30px;
  max-height: 50px;

  color: #444343;
  background-color: #aebdfd;
  text-align: center;

  font-weight: bold;
  border-top: white thin solid;
  border-bottom: white thin solid;
}

.loader {
  text-align: center;
}

.loader > img {
  width: 36px;
  height: 36px;
}

.none {
  display:none;
}

.hidden {
  visibility: hidden;
}

.today-temp,
.week-temp {
  padding-top: 10px;
  padding-bottom: 10px;

  background-color: #aebdfd;
  text-align: center;

  border-top: white thin solid;
  border-bottom: white thin solid;
}

.setup {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;

  padding-bottom: 30px;

  border-bottom: white thin solid;
}

.time-minutes {
  font-size: 1.2em;
}

.copyright {
  padding-top: 10px;
  padding-bottom: 40px;
  
  background-color: #aebdfd;

  font-size: 0.8em;
  text-align: center;
  color: white;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

.grid-line {
  fill: none;
  stroke: #8888ff;
  stroke-width: 1px;
}

@media screen and (max-width: 450px) {
  .header-1 { 
    padding-top: 20px;
    font-size: 10vw;
  }
  .header-3 {
    font-size: 21px;
  }
}

@media screen and (max-width: 375px) {
  .header-1 { 
    padding-top: 20px;
    font-size: 12vw;
  }
  .header-3 {
    font-size: 16px;
  }
 }
